### Advent of Code - Day 1

In [1]:
import pandas as pd

In [2]:
# Creating dataframe
df = pd.read_csv('input.txt', header=None)

# Renaming column header
df.rename(index=str, columns={0: "frequency_changes"}, inplace=True)

df.head()

   frequency_changes
0                 -1
1                -17
2                 -4
3                -15
4                 -1

In [3]:
# Day 1 A
# Getting frequency
df.sum()

frequency_changes    474
dtype: int64

In [4]:
# Day 1 B

frequency = 0
frequencies = set()
duplicate = False

while not duplicate:
    
    for row in df['frequency_changes']:
        frequency += row

        if frequency in frequencies:
            print(frequency)
            duplicate = True
            break

        frequencies.add(frequency)

137041